<% include ./partials/header.ejs %>
<body>
   <h1>KILL BASE</h1>
   <h2>Select your option</h2>
   <div>
       <img src="https://pre00.deviantart.net/b290/th/pre/i/2015/121/7/2/ninja_with_japanese_calligraph_by_mycks-d327jte.jpg" alt="">
   </div>
   <% include ./partials/mainButtons.ejs %>
</body>
</html>