.table {
    border: 1px solid black;
}

h1 {
    text-align: center;
}

.heading {
    text-align: center;
}

.targetImg {
    width: 300px;
    height: 300px;
}

.indexImg {
    height: 700px;
    width: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    transform: translate(600px)
}